html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.human-body {
  margin: 20px;

  margin-top: 1rem;
  width: 20rem;
}

.human-bdy svg {
  width: 30px;
  height: 30px;
  background-color: red;
}
.human-body svg * {
  width: 100%;
  height: 100%;
  fill: blue;
}

path:hover {
  fill: red;
}
